<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista Klas</title>
</head>

<body>

    <nav>
        <a th:href="@{/}">Nauczyciele</a> | 
        <a th:href="@{/students}">Uczniowie</a> | 
        <a th:href="@{/students/add}">Dodaj Ucznia</a> | 
        <a th:href="@{/classes}">Klasy</a>
    </nav>
    <hr />

    <h1>Lista Klas</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa Klasy</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${classes}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.name}"></td>
                <td>
                    <a th:href="@{/students(classId=${c.id})}">Pokaż uczniów w tej klasie</a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(classes)}">
                <td colspan="3">Brak klas w bazie.</td>
            </tr>
        </tbody>
    </table>

</body>

</html>
